<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



  <!-- Highlight Card -->
 
<!-- <ul>
  <li *ngFor = "let foodMenu of foodMenu">
    <div class = "panel-body">
      <table class = "product-info">   
            <h2>{{foodMenu.name}}</h2>
            <p class = "description">{{foodMenu.Description}}</p>
            <p class = "description-add" *ngIf="foodMenu.Quantity > 0">You'll love our {{foodMenu.name}}</p>
            <p class = "description-add" *ngIf="foodMenu.Quantity === 0">No {{foodMenu.name}} today :(</p>
            <p class = "price">{{foodMenu.Price | currency: 'EUR'}}</p>
            <button (click)="addPrice(foodMenu);addItem(foodMenu)" type="number">+</button>
            <input #input type="number" min="0" oninput="validity.valid||(value='');" [(ngModel)] = "foodMenu.Quantity" (keyup) = "updateQuantity();updateTotal(foodMenu)">
            <button (click)="subPrice(foodMenu);subItem(foodMenu)" type="number">-</button>
            <p class = "Quantity">{{foodMenu.Quantity }}</p>
            
      </table>
    </div>
  </li>
  <label type="number">Your total is {{ total | currency: 'EUR'}}</label>
  <br>
  <label type="number">Note: You currently have {{ Quantity}} items in your cart.</label>
  
</ul> -->

<header>
Welcome to GoodBurger's Online Menu!
</header>

<div class="card border-light mb-12" style="max-width: 72rem;">
    <div class="card-header">Today, we are serving fries, burgers, and sodas!</div>
    <div class="card-body">
      <h5 class="card-title">Please select the quantity:</h5>
      <table class="table table-bordered"*ngFor = "let foodMenu of foodMenu">
        <thead>
      
          </thead>
          
            <tbody>
                <tr>
                  <th scope="row"><img [src]="foodMenu.image" alt=""></th>
                  <td>{{foodMenu.name}}
                    <br>
                    {{foodMenu.Description}}
                    <br>
                  <p class = "description-add"  *ngIf="foodMenu.Quantity > 0">You'll love our {{foodMenu.name}}</p>
                  <p class = "description-add1" *ngIf="foodMenu.Quantity === 0">No {{foodMenu.name}} today :(</p>
                  </td>
                  <td><p class = "price">{{foodMenu.Price | currency: 'EUR'}}</p></td>
                  <td>
                  <!-- <button (click)="addPrice(foodMenu);addItem(foodMenu)" type="number">+</button> -->
                  <button (click)="addPrice(foodMenu);addItem(foodMenu)" type="button" class="btn btn-primary">+</button>
                  <input #input type="number" min="0" oninput="validity.valid||(value='');" [(ngModel)] = "foodMenu.Quantity" (keyup) = "updateQuantity();updateTotal(foodMenu)">
                  <button (click)="subPrice(foodMenu);subItem(foodMenu)" type="button" class="btn btn-primary">-</button>
                  <!-- <button (click)="subPrice(foodMenu);subItem(foodMenu)" type="number">-</button> -->
                  </td>
                
              
                </tr>
            </tbody>
          
        </table>
        <br>
        <span *ngIf = "Quantity == 0">Note:You currently have {{Quantity}} items in your cart.</span>
        <span *ngIf = "Quantity == 1">Note:You currently have {{Quantity}} item in your cart.</span>
        <span *ngIf = "Quantity > 1">Note:You currently have {{Quantity}} items in your cart.</span>
        <br>
        <br>
        <span>Your total is: {{total | currency: 'EUR'}}</span>
    </div>
  </div>

  <!-- Footer -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>