html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.description{
    color: #444;
    font-size: small;
}
.price{
    font-size: bold;

}
td, th{
    border: 2px solid black;
}
table{
    border-collapse: collapse;
    width: 100%;
    display: table;
   
    table-layout: fixed;
    
}
table tr th, table tr td{
    width: auto;
}
img{
    width: 100px;
    height: 75px;
}
.card{
    margin-left: 40px;
    text-align: center;
}
header{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: navy;
    color: white;
    font-size: larger;
}
.card-header{
    padding-top: 20px;
}
.description.add1{
    color: red;
    font-style: italic;
}

